<div class="container mt-5">
    <h1 class="text-center mb-4">
        <i class="bi bi-list-check"></i> Gestionar Préstamos
    </h1>

    <div id="contenedor-prestamos"></div>

</div>

<script src="/js/prestamosUser.js"></script>
