<footer class="container">
    <div class="container py-3 my-4 border-top mx-3 text-center">
        <div class="row align-items-center">
            <!-- Primera columna (textos) -->
            <div class="col-12 mb-3">
                <p class="mb-1 text-body-secondary">
                    <a href="https://www.somosdelprieto.com" target="_blank" class="text-body-secondary">
                        IES Gregorio Prieto</a> (Valdepeñas) e 
                    <a href="https://iesojosdelguadiana.es/" target="_blank" class="text-body-secondary">
                        IES Ojos del Guadiana</a> (Daimiel).
                </p>
                <p class="mb-0 text-body-secondary">
                    Alumnado de 2º DAW - Curso 2024/2025
                </p>
            </div>

            <!-- Segunda columna (iconos) -->
            <div class="col-12">
                <ul class="nav justify-content-center list-unstyled">
                    <li class="ms-3">
                        <a class="text-body-secondary" aria-label="twitter" href="https://twitter.com/ojosguadianaies" target="_blank">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-body-secondary" aria-label="Instagram" href="https://www.instagram.com/ojosguadianaies/?hl=es" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-body-secondary" aria-label="facebook" href="https://www.facebook.com/Ies-Ojos-Del-Guadiana-Daimiel-1494077700614259" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Imagen de financiación -->
    <div class="text-center mt-3">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <div class="d-flex align-items-center mb-2">
                <img src="/imgs/logo-prieto.webp" aria-label="logo ies gregorio prieto alt="Logo IES Gregorio Prieto" class="img-fluid me-2" style="max-width: 40px;">
                <a href="https://www.educa.jccm.es/es/fpclm/innovacion-formacion-profesional/desarrollo-proyectos-innovacion-formacion-profesional" target="_blank">
                    <img src="/imgs/financiado.webp" aria-label="financiado" alt="Financiación" class="img-fluid" style="max-width: 250px;">
                </a>
                <img src="/imgs/logo-guadiana.webp" aria-label="Logo guadiana" alt="Logo IES Ojos del Guadiana" class="img-fluid ms-2" style="max-width: 40px;">
            </div>
        </div>
    </div>
</footer>