<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Gestionar Usuarios</h1>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#crearusuario" aria-expanded="false"
            aria-controls="flush-collapseOne">
            <i class="bi bi-bookmark-check-fill"></i> Crear Usuario
        </button>
    </div>

    <div class="accordion accordion-flush" id="crearUsuario">
        <div class="accordion-item my-3">
            <div id="crearusuario" class="accordion-collapse collapse" data-bs-parent="#crearUsuario">
                <div class="accordion-body">
                    <form action="/admin/usuarios/crearUsuario" method="post" class="p-4 bg-light rounded border">
                        <h4 class="mb-4 text-dark">
                            <i class="bi bi-bookmark-check-fill"></i> Crear Nuevo Usuario
                        </h4>

                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre Completo </label>
                            <input type="text" id="name" name="name" class="form-control"
                                placeholder="Ejemplo: Juan Pérez" required>
                        </div>

                        <div class="mb-3">
                            <label for="phone" class="form-label">Teléfono </label>
                            <input type="tel" id="phone" name="phone" class="form-control"
                                placeholder="Telefono sin prefijo" required>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico </label>
                            <input type="email" id="email" name="email" class="form-control"
                                placeholder="Ejemplo: correo@dominio.com" required>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">
                            <i class="bi bi-check-circle-fill"></i> Crear Usuario
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="mb-3 p-4 shadow-sm bg-light rounded">
            <h4 class="mb-3 d-flex align-items-center gap-2">
                <i class="bi bi-calendar-check"></i>Filtrar por email
            </h4>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input type="text" id="buscadorUsuarios" class="form-control"
                    placeholder="Buscar usuarios por correo electrónico">
            </div>
        </div>

           
            <div class="row content">

            </div>
        

            <nav aria-label="Paginación" class="mt-4">
                <ul class="pagination justify-content-center" id="paginacion">
                    
                </ul>
            </nav>


            <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <button class="btn btn-danger" id="btn_historico_true">Eliminar usuario junto todas sus actividades</button>
                            <button class="btn btn-danger" id="btn_historico_false">Eliminar usuario sin borrar sus actividades</button>
                            <form action="/admin/usuarios/eliminarUsuario" method="POST">
                                <input type="hidden" name="idUser" id="idUser">
                                <input type="hidden" name="borrarHistorico" id="borrarHistorico">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <script src="/js/cpanelUser.js"></script>

    </div>