<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="d-flex justify-content-center my-4">
    <div class="card shadow p-4" style="width: 22rem;">
        <h4 class="text-center mb-3">Recuperar Contrase침a</h4>
        <p class="text-center text-muted">Introduce tu correo electr칩nico y te enviaremos instrucciones para restablecer
            tu contrase침a.</p>

        <form action="/auth/forgot-password" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electr칩nico</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    <input type="email" name="email" class="form-control" id="email" placeholder="tucorreo@ejemplo.com" required>
                </div>
            </div>
            <div class="g-recaptcha" data-sitekey="6Lc27NQqAAAAALZqXpUnp_EFcCdciVUAvyo3yFWO"></div>
            <button type="submit" class="btn btn-primary w-100">
                <i class="bi bi-send"></i> Enviar instrucciones
            </button>
        </form>
    </div>
</div>