<main>
  <section class="seccionIndex text-center d-flex align-items-center justify-content-center">
    <div class="row py-lg-5">
      <div class="text-white">
        <h1 class="fw-light">Lágrimas de los Ojos</h1>
        <p class="lead">Biblioteca semillas - Explora nuestro catálogo.</p>
      </div>
    </div>
  </section>
  


  <div class="album py-5 bg-light">
    <div class="container">

      <!-- Título principal -->
      <div class="text-center mb-4">
        <h2 class="display-5 fw-bold">Explora Nuestro Catálogo de Semillas</h2>
        <p class="text-muted">Encuentra rápidamente las semillas que necesitas utilizando el buscador.</p>
      </div>

      <!-- Buscador -->
      <div class="row g-2 align-items-center my-3">
        <p class="col-12"><i class="bi bi-filter"></i> Filtro epoca del año:</p>
        <div class="col-md-8">
          <label for="select_epoca_siembra" class="form-label visually-hidden">Época de siembra</label>
          <select class="form-select shadow-sm" id="select_epoca_siembra">
            <option value="">TODAS</option>
            <option value="verano">Verano</option>
            <option value="primavera">Primavera</option>
            <option value="otoño">Otoño</option>
            <option value="invierno">Invierno</option>
          </select>
        </div>
        <div class="col-md-4 text-md-start">
          <button class="btn btn-outline-primary shadow-sm w-100" id="btn_guardar_filtro_epoca_siembra">
            <i class="bi bi-bookmark"></i> Guardar filtro
          </button>
        </div>
      </div>

      <div>
        <div class="input-group mb-4">
          <label for="buscador" class="visually-hidden">Buscar semilla</label>
          <!-- Agregamos label para accesibilidad -->
          <input type="text" id="buscador" class="form-control shadow-sm fs-5" style="height: 60px;"
            placeholder="Escribe el nombre de una semilla..." aria-label="Buscador" aria-describedby="boton-buscar">
          <button class="btn shadow-sm px-4 fs-17" id="sendSearch" type="button">
            <i class="bi bi-search"></i> Buscar
          </button>
        </div>

      </div>
      
      <div class="row">
        <div class="col-12">
          <h3>Listado de semillas <a href="/drag" class="btn d-none d-lg-inline-block">Reservar arrastrando</a></h3>
        </div>
      </div>

      <div id="boxSeeds" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 my-4">

      </div>

      <nav aria-label="Paginación" class="my-5">
        <ul id="paginacion" class="pagination justify-content-center">
      
        </ul>
      </nav>

    </div>
  </div>

  <div id="reservarBox">
    <!-- Aqui se carga el modal de las reservas -->
  </div>

  <div id="detallesBox">
    <!-- Aqui se carga el modal de los detalles -->
  </div>


  <script src="/js/paginaIndex.min.js"></script>
