<main>
    <section class="seccionIndex text-center d-flex align-items-center justify-content-center">
        <div class="row py-lg-5">
            <div class="text-white">
                <h1 class="fw-light">Lágrimas de los Ojos</h1>
                <p class="lead">Biblioteca semillas - Explora nuestro catálogo.</p>
            </div>
        </div>
    </section>


    <div class="album py-5 bg-light">
        <div class="container">

            <!-- Título principal -->
            <div class="text-center mb-4">
                <h2 class="display-5 fw-bold">Explora Nuestro Catálogo de Semillas</h2>
                <p class="text-muted">Encuentra rápidamente las semillas que necesitas utilizando el buscador.</p>
            </div>

            <!-- Buscador -->
            <div class="row g-2 align-items-center my-3">
                <p class="col-12"><i class="bi bi-filter"></i> Filtro epoca del año:</p>
                <div class="col-md-8">
                    <label for="select_epoca_siembra" class="form-label visually-hidden">Época de siembra</label>
                    <select class="form-select shadow-sm" id="select_epoca_siembra">
                        <option value="">TODAS</option>
                        <option value="verano">Verano</option>
                        <option value="primavera">Primavera</option>
                        <option value="otoño">Otoño</option>
                        <option value="invierno">Invierno</option>
                    </select>
                </div>
                <div class="col-md-4 text-md-start">
                    <button class="btn btn-outline-primary shadow-sm w-100" id="btn_guardar_filtro_epoca_siembra">
                        <i class="bi bi-bookmark"></i> Guardar filtro
                    </button>
                </div>
            </div>

            <div>
                <div class="input-group mb-4">
                    <label for="buscador" class="visually-hidden">Buscar semilla</label>
                    <!-- Agregamos label para accesibilidad -->
                    <input type="text" id="buscador" class="form-control shadow-sm fs-5" style="height: 60px;"
                        placeholder="Escribe el nombre de una semilla..." aria-label="Buscador"
                        aria-describedby="boton-buscar">
                    <button class="btn shadow-sm px-4 fs-17" id="sendSearch" type="button">
                        <i class="bi bi-search"></i> Buscar
                    </button>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <h3>Listado de semillas <a href="/" class="btn d-none d-lg-inline-block">Reservar boton</a></h3>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-12 col-lg-7">
                    <!-- Contenedor de resultados -->
                    <div id="boxSeeds" class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 ">
                        <!-- Aquí van las semillas o elementos -->
                    </div>
                </div>

                <div class="d-none d-lg-inline-block col-sm-5">
                    <div class="bg-cuaternario-subtle border border-3 border-dashed  h-100" id="dropZone">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <p class="text-center">Arrastra la imagen de la semilla para reservar, <a
                                    href="/me/reservas">ver todas mis reservas</a></p>
                        </div>
                    </div>
                </div>


            </div>



        </div>
        <nav aria-label="Paginación" class="my-5">
            <ul id="paginacion" class="pagination justify-content-center">
            </ul>
        </nav>
    </div>



    <div id="reservarBox">
        <!-- Aqui se carga el modal de las reservas -->
    </div>

    <div id="detallesBox">
        <!-- Aqui se carga el modal de los detalles -->
    </div>


    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error al reservar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    Ha ocurrido un error al procesar tu reserva.
                    Por favor, ten en cuenta lo siguiente:
                    <ul>
                        <li>Debe tener stock la semilla</li>
                        <li>Debes estar registrado para poder realizar una reserva.</li>
                        <li>Existe un límite de reservas simultáneas por usuario.</li>
                        <li>Solo podrás reservar una cantidad determinada de semillas hasta que hayas recogido tus
                            reservas anteriores.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script src="/js/paginaIndexDrag.js"></script>